main {
    margin-top: 15px;
}

.custom-button {
    text-decoration: none;
    border: solid;
    padding: 50px 25px;
    border-radius: 5px;
    display: block;
    text-align: center;
    margin-bottom: 30px;
    &:hover {
        text-decoration: none;
        background: #dddddd;
    }
    &[href="#"] {
        color: #dddddd;
        cursor: default;
        &:hover {
            background: none;
        }
    }
}