.modal-title {
    span {
        font-size: 12px;
    }
    #apprentice {
        position: relative;
        top: -5px;
    }
    #dateTimeAdded {
        padding-top: 4px;
        padding-right: 20px;
    }
}

.aptitudeSection, .aptitudeDetail {
    display: flex;
    justify-content: space-between;
}

#aptitude1 {
    height: 25px;
    margin-top: 17px;
}

#currentStageContainer h4, #currentStageContainer p {
    color: #5cb85c;
}

#nextStageContainer h4 {
    color: #337AB7;
}

.stageDropdown {
    font-weight: bold;
}

#sortFilterApplicants li {
    label {
        margin-top: -18px;
    }
    select {
        margin-top: 2px;
    }
}

.sort {
    white-space: nowrap;
    div {
        display: inline;
        padding-left: 10px;
    }
    .arrowBtn {
        border: none;
        &.active {
            color: #d64405;

        }
    }
}

p.detail {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
    span {
        font-weight: normal;
    }
}

.errorMsg {
    color: #761c19;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.collapse-header {
    overflow: auto;
    cursor: pointer;
    border-radius: 10px;
    &:hover {
        background: $light-grey;
    }
}

.applicationFormSection .collapse.in {
    border-top: 1px solid black;
}

section {
    margin-bottom: 10px;
}

#applicantModal section {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    &:last-child {
        border: none;
        padding-bottom: 0;
    }
}

.collapse-header {
    h4 {
        float: left;
        padding-left: 15px;
    }

    i {
        float: right;
        margin: 12px;
    }
}

.disabled {
    pointer-events: none;
}

#submitApplicant {
    margin: 0;
}

.formItem_alert {
    margin-top: 15px;
}

.clipboard {
    margin-left: 10px;
}

#navClearButton, #navSubmitButton {
    margin: 0 5px;
    border-radius: 5px;
    border: none;
    color: $white;
    background-color: #d9534f;
    padding: 6px 12px;
    font-size: 14px;
}

#navSubmitButton {
    background-color: #337ab7;
}

.nav-tabs {
    display: grid;
    grid-template-columns: 0fr 2fr 2fr 1.5fr 0.3fr 2fr 2fr 2fr;
    justify-items: left;
}

.form_pass {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.passwordElements {
    margin: 2% 3%;
}

.div_pass {
    display: flex;
}

.cohort_checkbox {
    margin-left: 1.5%;
}

.centralArrow {
    margin-top: 22px;
}

