.trainer-deleted-indicator {
    text-decoration: line-through;
}

.courses-heading-container {
    display: flex;
    align-items: center;
    padding-left: 0px;
}

.courses-box {
    padding: 0px;
}

#saveCourse {
    margin: 0;
}