.trainer-deleted-indicator {
    text-decoration: line-through;
}

.courses-heading-container {
    display: flex;
    align-items: center;
    padding-left: 0px;
}

.courses-box {
    padding: 0px;
}

.badge-color-SDE {
    background-color: green;
}

.badge-color-DataScience {
    background-color: orange;
}

.badge-color-CodingQuickStart {
    background-color: blue;
}

.badge-color-Full-StackTrack {
    background-color: purple;
}

.badge-color-Workshop {
    background-color: red;
}

.badge-color-PythonIntro {
    background-color: lightblue;
}

.individualCourses{
    margin: 2px!important;
    color: #1b6d85;
}