#submit-search-event {
    margin-top: 0;
}

#messages {
    margin: 10px 0;
}

#events-list {
    margin-top: 0;
}

.event {
    padding: 15px;
    border-bottom: 1px solid $dark-grey;
    overflow: auto;
    .header {
        overflow: auto;
    }
    .show-event-info {
        float: right;
        background-color: $io-purple;
        color: #ebeef1;
    }
    .delete-btn {
        float: right;
        margin-left: 1rem;
        background-color: #d9534f;
        color: #fff;
    }

    &:last-child {
        border-bottom: none;
    }
    &.open {
        background: #E0E8F2;
    }
    .copy-emails-button {
        background-color: $io-green;
        color: $io-purple-dark;
        float: right;
    }
}

.header h4 {
    float: left;
    margin: 0;
    padding-top: 6px;
    font-size: 20px;
}

.event {
    .moreInfo {
        margin-top: 10px;
        font-size: 16px;
    }
    p {
        overflow-wrap: break-word;
    }
    .moreInfo span {
        font-weight: bold;
    }
    .badge {
        background-color: $io-pink;
        padding: 6px;
        margin: 0 3px;
        font-size: 14px;
    }
    .btn {
        font-size: 16px;
    }
}

.event-attendees {
    overflow: auto;
    border: 1px solid $dark-grey;
}

.event-attendees-table {
    background-color: #ffffff;
}

.headerDateTime {
    font-size: 18px;
}

.hiring-partners {
    min-height: 0;
    border-right: 1px solid $dark-grey;
}

.hiring-partner {
    overflow: auto;
    p {
        float: left;
        margin-right: 100px;
        margin-top: 7px;
    }
    .btn {
        float: right;
        margin: 0;
    }
}

.addHiringPartnerForm {
    margin-bottom: 10px;
    input,
    label {
        margin: 0;
    }
    select {
        display: block;
        padding: 4px;
    }
    .companyAttendees {
        width: 100px;
    }
}

input[type="date"],
input[type="time"] {
    padding: 0 12px;
}

#calendar a {
    color: #000000;
}

.hiringevent .fc-daygrid-event-dot {
    border-color: #4eab1a;
}

.hiringevent.fc-h-event {
    background-color: #4eab1a;
    border-color: #4eab1a;
}
  
.sprintreview .fc-daygrid-event-dot {
    border-color: #002aff;
}

.sprintreview.fc-h-event {
    background-color: #002aff;
    border-color: #002aff;
}
  
.tastersession .fc-daygrid-event-dot {
    border-color: #b5b601;
}

.tastersession.fc-h-event {
    background-color: #b5b601;
    border-color: #b5b601;
}
  
.assessment .fc-daygrid-event-dot {
    border-color: #c03d3d;
}

.assessment.fc-h-event {
    background-color: #c03d3d;
    border-color: #c03d3d;
}
  
.graduation .fc-daygrid-event-dot {
    border-color: #fa5c03;
}

.graduation.fc-h-event {
    background-color: #fa5c03;
    border-color: #fa5c03;
}
  
.other .fc-daygrid-event-dot {
    border-color: #7e007c;
}

.other.fc-h-event {
    background-color: #7e007c;
    border-color: #7e007c;
}

.datascience {
    background-color: #539120;
}

.codingquickstart {
    background-color: #1b6d85;
}

.full-stacktrack {
    background-color: #3c763d;
}

.pythonintro {
    background-color: #ff0000ff;
}

.sde {
    background-color: #ffa500ff;
}

.workshop {
    background-color: #800080ff;
}

.machinedata {
    background-color: #696969ff;
}