.hiring-partner {
    span {
        font-weight: bold;
    }
    form {
        display: inline-block;
    }
    p {
        display: inline-block;
    }
}

.partner {
    padding: 15px;
    border-top: 1px solid #CCCCCC;
    overflow: auto;
    h4 {
        float: left;
    }

    .btn {
        float: right;
    }
}