* {
    box-sizing: border-box;
    font-family: 'JetBrains Mono', "Helvetica Neue", Helvetica, sans-serif;
}

body.studentApplicationPage {
    width: 100%;
    height: 100%;
//    //background: linear-gradient(-30deg, #EE7752, #E73C7E, #23A6D5, #23d576);
//    //animation: gradient 15s ease infinite;
//    //background-size: 5000% 5000%;
}
.content-container {
    background-color: $white;
    z-index: 1;
    width: 55%;
    margin: 100px auto;
    padding: 40px 40px;
    border: 1px solid black;
}




ul.startDatesList {
    list-style: none;
    padding: 20px 0;
}

.finalPage li {
    margin-bottom: 15px;
}

ul.startDatesList li {
    display: inline;
}

ul.startDatesList li label {
    cursor:pointer;
    display: inline-block;
    background-color: #D3D3D3;
    border-radius: 10px;
    white-space: nowrap;
    margin: 5px 5px;
    padding: 8px 12px;
    font-size: calc(7px + 1vw);
}

ul.startDatesList li label.clicked {
    background-color: $io-green;
}

ul.startDatesList li input[type="checkbox"] {
    opacity: 0;
    width: 0;
}

.termsAndConditions {
    label {
        font-family: 'Inter', Papyrus;
        font-weight: bold;
    }
    p a:hover,
    p a,
    p a:active,
    p a:visited {
        color: inherit;
        text-decoration: underline;
    }
    label input[type="checkbox"] {
        appearance: none;
        background-color: #fff;
        margin: 5px;
        margin-right: 20px;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid $io-purple;
        border-radius: 50%;
        transform: translateY(-0.075em);
        display: inline-grid;
        place-content: center;
        &:focus {
            outline: none;
            border: 0.15em solid $io-purple;
        }
        &::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em $io-purple;
        }
        &:checked::before {
            transform: scale(1);
        }
    }
}


.formItem_alert {
    color: #8a0000;
    font-size: calc(8px + 1vw);

}

.studentApplicationForm {
    .finalPage {
        h2 {
            text-align: center;
            font-size: calc(16px + 2vw);
        }
        ul {
            list-style-type: '> ';
            li::marker {
                color: $io-purple;
                font-weight: bolder;
            }
        }
    }
    .nextSteps {
        color: $io-purple;
        text-align: center;
    }
    h1 {
        font-size: calc(18px + 2vw);
        margin: 70px 0;
    }
    p,
    input,
    button,
    label,
    textarea,
    li,
    select {
        font-size: calc(10px + 1vw);
        height: auto;
    }
    .row {
        margin: 30px 0;
    }
    .hidden {
        visibility: hidden;
        height: 0;
    }
    .progress {
        height: 30px;
        border-radius: 30px;
    }
    #whyDev,
    #pastCoding {
        background-color: #f3f6fa;
    }
    .textAreaCounter {
        color: #696969;
        text-align: end;
        font-size: calc(5px + 1vw);
    }
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    button {
        margin: 10px;
    }
}


#progressBar {
    background-color: $io-green;
    border-radius: 30px;
}

.pastCodingTooltip {
    border-radius: 50%;
    background-color: $io-green;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 50px;
    font-size: 2em;
    font-weight: bold;
    border: none;
}

.eligibilityTooltip {
    border-radius: 50%;
    background-color: $io-green;
    text-align: center;
    height: 50px;
    width: 35px;
    font-size: 10px;
    font-weight: bold;
    border: none;

}

.tooltip.top {
    font-size: calc(3px + 1vw);
    display: flex;
    max-width: 300px;
}

.withTooltip {
    display: flex;
    justify-content: space-between;
}

.studentApplicationForm input, .studentApplicationForm select {
    margin: 21px 0;
    border: 0px;
    box-shadow: none;
    border-bottom: 1px solid #d8d8d8;
    width:100%;
}

.studentApplicationForm .btn {
    background-color: $io-purple-dark;
    color: #FFFFFF;
}

svg {
    position: absolute;
    top: 0;
    z-index: -1;
}

#apply-page-bg--left {
    width: 100%;
    left: 0;
}

#apply-page-bg--right {
    width: 80%;
    right: 0;
}

#pageFourSmallPrint{
    font-size:.813em;
    font-weight:bold;
}


@media only screen and (max-width: 500px) {
    .content-container {
        padding: 40px 60px;
    }
}

@media only screen and (min-width:1024px) {
    #pageFourSmallPrint {
        font-size:16px;
        font-weight:600;
    }
}


