* {
    font-family: courier-new;
}

.addButton, .returnButton {
    text-decoration: none;
    border: solid;
    padding: 5px 30px;
    border-radius: 5px;
}

.error{
    background-color: #ffc0cb;
    width:200px;
}

.addButtonWrapper {
    padding: 15px 0;
}