main {
    margin-top: 15px;
}

.custom-button {
    text-decoration: none;
    border: solid;
    padding: 50px 25px;
    border-radius: 5px;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.custom-button:hover {
    text-decoration: none;
    background: #dddddd;
}

.custom-button[href="#"] {
    color: #dddddd;
    cursor: default;
}

.custom-button[href="#"]:hover {
    background: none;
}