* {
    box-sizing: border-box;
}

.addUserButton, .returnButton {
    text-decoration: none;
    border: solid;
    padding: 5px 32px;
    border-radius: 5px;


}

.error{
    background-color: #ffc0cb;
    width:200px;
}