#submit-search-event {
    margin-top: 0;
}

#messages {
    margin: 10px 0;
}

#events-list {
    margin-top: 0;
}

.event {
    padding: 15px;
    border-bottom: 1px solid #333333;
    overflow: auto;
}

.event .header h4 span {
    padding: 7px 10px;
    border-radius: 3px;
}
.event .header h4 span:nth-child(1) {
    margin-left: 20px;
}
.event .header h4 span:nth-child(2) {
    margin-left: 10px;
}

.event:last-child {
    border-bottom: none;
}

.event.open {
    background: #cccccc;
}

.header[aria-expanded="true"] button::before {
    content: "Less Info";
}

.header[aria-expanded="false"] button::after {
    content: "More Info";
}

.event .header {
    overflow: auto;
}

.header:hover {
    cursor: pointer;
}

.event .show-event-info {
    float: right;
}

.event h4 {
    float: left;
    margin: 0;
    padding-top: 6px;
}

.event .moreInfo {
    margin-top: 10px;
}
.moreInfo span {
    font-weight: bold;
    color: #333333;
    font-size: 20px;
    display: block;
}

.moreInfo p {
    font-size: 18px;
}

.mainInfoEvent {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 20px 0;
}

.mainInfoEvent p:nth-child(1) {
    padding: 0 25px 0 0;
}

.mainInfoEvent p:nth-child(1n + 2) {
    padding: 0 25px;
    border-left: 1px solid #333333;
}

.event p {
    overflow-wrap: break-word;
}

.event-attendees {
    margin-top: 30px;
    padding: 15px 20px;
    overflow: auto;
    background: #eee;
}

.event-attendees div.addHiringPartner:nth-child(2) {
    border-left: 1px solid #333333;
    padding: 0 20px 0 40px;

}


.hiring-partners {
    min-height: 0;
    padding: 0 40px 0 0;
}

.hiring-partner {
    overflow: auto;
}

.hiring-partner p {
    float: left;
    margin-right: 100px;
    margin-top: 7px;
}

.hiring-partner span {
    display: inline-block;
    font-size: 18px;
}

.hiring-partner .btn {
    float: right;
    margin: 0;
}

.addHiringPartnerForm {
    margin-bottom: 10px;
}

.addHiringPartnerForm button {
    font-size: 14px;
    margin-top: 10px;
}

.addHiringPartnerForm input,
.addHiringPartnerForm label {
    margin: 0;
    font-size: 18px;
}
.addHiringPartnerForm label {
    font-weight: bold;
}

.addHiringPartnerForm select {
    display: block;
    margin: 10px 0;
    font-size: 18px;
    padding: 5px;
}

.addHiringPartnerForm .companyAttendees {
    width: 100px;
}

input[type="date"],
input[type="time"] {
    padding: 0 12px;
}
