.upper span {
    display: block;
    text-align: center;
}

.mid span {
    display: block;
    text-align: center;
}

#eventTitle {
    text-align: center;
}

.event {
    width: 80%;
    overflow: auto;
    margin: auto;
    background-color: #fbd8ff;
    margin-bottom: 10px;
    border: solid #fdedff 2px;
    cursor: pointer;
}

.top {
    width: 90%;
}

.upper, .mid {
    width: 100%;
    background-color: #fbd8ff;
}

.upper, .mid, .lower {
    float: left;
    overflow: auto;
}

.infoBox, .infoBox-mid, .infoBox-low {
    overflow: auto;
    padding: 10px;
}

.infoBox, .infoBox-mid {
    float: left;
}

.infoBox {
    width: 33.33%
}

.infoBox-mid {
    width: 50%;
}

.lower {
    width: 100%;
    background: #ffc0f1;
}

.arrowBox {
    font-size: 2.5rem;
    text-align: center;
    background-color: #fbd8ff;
}

.addButtonWrapper {
    padding: 15px 0;
    text-align: center;
}

.addButton {
    text-decoration: none;
    border: solid #ffc0f1;
    padding: 5px 30px;
    border-radius: 5px;
}

.addButton:hover {
    background-color: #fbd8ff;
}