#submit-search-event {
    margin-top: 0;
}

#messages {
    margin: 10px 0;
}

#events-list {
    margin-top: 0;
}

.event {
    padding: 15px;
    border-bottom: 1px solid #333333;
    overflow: auto;
}

.event:last-child {
    border-bottom: none;
}

.event.open {
    background: #E0E8F2;
}

.event .header {
    overflow: auto;
}

.event .show-event-info {
    float: right;
    background-color: #743DFB;
    color: #ebeef1;
}

.header h4 {
    float: left;
    margin: 0;
    padding-top: 6px;
    font-size: 20px;
}

.event .moreInfo {
    margin-top: 10px;
    font-size: 16px;
}

.event p {
    overflow-wrap: break-word;
}

.event .moreInfo span {
    font-weight: bold;
}

.event .badge {
    background-color: #FF3366;
    padding: 6px;
    margin: 0 3px;
    font-size: 14px;
}

.event .btn {
    font-size: 16px;
}

.event-attendees {
    overflow: auto;
    border: 1px solid #333333;
}

.headerDateTime {
    font-size: 18px;
}

.hiring-partners {
    min-height: 0;
    border-right: 1px solid #333333;
}

.hiring-partner {
    overflow: auto;
}

.hiring-partner p {
    float: left;
    margin-right: 100px;
    margin-top: 7px;
}

.hiring-partner .btn {
    float: right;
    margin: 0;
}

.addHiringPartnerForm {
    margin-bottom: 10px;
}

.addHiringPartnerForm input,
.addHiringPartnerForm label {
    margin: 0;
}

.addHiringPartnerForm select {
    display: block;
    padding: 4px;
}

.addHiringPartnerForm .companyAttendees {
    width: 100px;
}

input[type="date"],
input[type="time"] {
    padding: 0 12px;
}
