* {
    box-sizing: border-box;
}

body {
    font-family: Courier, sans-serif;
}

div,
h1 {
    margin: 25px;
}

form {
    margin-top: 10px;
}

input {
    width: 350px;
    border-radius: 5px;
    padding: 6px 12px;
    background-color: #b8cce7;
}

.error {
    background-color: #ffaab1;
}

.submit {
    width: 100px;
    background-color: #56e789;
}