main {
  margin-top: 15px;
}

.custom-button {
  text-decoration: none;
  border: solid;
  padding: 50px 25px;
  border-radius: 5px;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
.custom-button:hover {
  text-decoration: none;
  background: #dddddd;
}
.custom-button[href="#"] {
  color: #dddddd;
  cursor: default;
}
.custom-button[href="#"]:hover {
  background: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

label {
  margin-top: 20px;
}

h4, th {
  color: #157383;
}

.container {
  margin-bottom: 25px;
}

header {
  overflow: auto;
  margin-top: 20px;
}
header .logo {
  width: 300px;
}
header .logo img {
  width: 100%;
}
header .external-links a {
  margin-right: 15px;
  float: left;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
}
header .external-links a:hover {
  background: #dddddd;
}

form input[type=date] .form-control,
form input[type=time] .form-control {
  line-height: normal;
}

.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

footer {
  border-top: 1px solid #333333;
  padding-top: 15px;
  margin-bottom: 30px;
  margin-top: 15px;
}

input[type=submit] {
  margin-top: 30px;
}

.glyphicon-check {
  margin-left: 1px;
}

table {
  width: 100%;
}

nav {
  margin-bottom: 15px;
}
nav .btn {
  border-radius: 0;
}
nav a[href="#"] {
  color: #dddddd;
  cursor: default;
}
nav a[href="#"]:hover {
  color: #dddddd;
  background: none;
}

.modal-title span {
  font-size: 12px;
}
.modal-title #apprentice {
  position: relative;
  top: -5px;
}
.modal-title #dateTimeAdded {
  padding-top: 4px;
  padding-right: 20px;
}

#currentStageContainer h4, #currentStageContainer p {
  color: #5cb85c;
}

#nextStageContainer h4 {
  color: #337AB7;
}

.stageDropdown {
  font-weight: bold;
}

#sortFilterApplicants li label {
  margin-top: -18px;
}
#sortFilterApplicants li select {
  margin-top: 2px;
}

.sort {
  white-space: nowrap;
}
.sort div {
  display: inline;
  padding-left: 10px;
}
.sort .arrowBtn {
  border: none;
}
.sort .arrowBtn.active {
  color: #d64405;
}

p.detail {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 10px;
}
p.detail span {
  font-weight: normal;
}

.errorMsg {
  color: #761c19;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.collapse-header {
  overflow: auto;
  cursor: pointer;
  border-radius: 10px;
}
.collapse-header:hover {
  background: #dddddd;
}

.applicationFormSection .collapse.in {
  border-top: 1px solid black;
}

section {
  margin-bottom: 10px;
}

#applicantModal section {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
#applicantModal section:last-child {
  border: none;
  padding-bottom: 0;
}

.collapse-header h4 {
  float: left;
  padding-left: 15px;
}
.collapse-header i {
  float: right;
  margin: 12px;
}

.disabled {
  pointer-events: none;
}

#submitApplicant {
  margin: 0;
}

.formItem_alert {
  margin-top: 15px;
}

.clipboard {
  margin-left: 10px;
}

#navClearButton, #navSubmitButton {
  margin: 0 5px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #d9534f;
  padding: 6px 12px;
  font-size: 14px;
}

#navSubmitButton {
  background-color: #337ab7;
}

.nav-tabs {
  display: grid;
  grid-template-columns: 0fr 2fr 2fr 1.5fr 0.3fr 2fr 2fr 2fr;
  justify-items: left;
}

.form_pass {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.passwordElements {
  margin: 2% 3%;
}

.div_pass {
  display: flex;
}

.cohort_checkbox {
  margin-left: 1.5%;
}

.centralArrow {
  margin-top: 22px;
}

#newStageForm label {
  margin-top: 0;
}
#newStageForm [type=text] {
  width: 60%;
}

.applicantStages td {
  padding: 4px 8px;
}
.applicantStages tr {
  cursor: pointer;
}
.applicantStages input[type=submit] {
  margin-top: 0;
}

#stageTable p i {
  margin-left: 10px;
}

.stagesTableForm {
  display: none;
}
.stagesTableForm label {
  margin-top: 0;
}

#editResponse {
  margin-bottom: 10px;
}

#createNewResponse {
  margin-top: 10px;
}

.list-group-item {
  position: unset;
  display: table-row;
  padding: 0;
  margin-bottom: 0;
}

.disabled {
  pointer-events: none;
  color: #dbdbdb;
  cursor: text;
}

.optionDelete,
.optionEdit {
  float: right;
  margin-left: 3%;
  font-family: Courier, sans-serif;
}

.optionsContainer {
  display: block;
}

.optionTitle {
  padding-top: 1%;
}

.stagesTableForm .stageEditTitle,
.optionsContainer .optionEditTitle,
.optionsContainer .optionAddTitle {
  width: 80%;
  margin-right: 10px;
}

.optionsContainer .optionAddTitle.firstOption {
  margin-bottom: 10px;
}

.modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.modalContainer .container {
  width: 50%;
  height: fit-content;
  position: fixed;
  top: 25%;
  left: 25%;
  background-color: #FFFFFF;
}
.modalContainer .container p {
  font-weight: 700;
  padding: 2em 2em 5em;
}
.modalContainer .container a {
  position: relative;
  bottom: 1em;
  text-align: right;
  padding: 1em;
}
.modalContainer .container a:hover {
  cursor: pointer;
}

.text-warning-custom-color {
  color: #f0ad4e;
}

.login {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  background: #cccccc;
  border-radius: 15px;
}

#loginForm {
  margin-top: 10px;
}
#loginForm label {
  display: block;
}
#loginForm .form-control {
  max-width: 350px;
}
#loginForm .error {
  background-color: #ffaab1;
}

#newUserSubmit {
  margin-top: 0;
}

#submit-search-event {
  margin-top: 0;
}

#messages {
  margin: 10px 0;
}

#events-list {
  margin-top: 0;
}

.event {
  padding: 15px;
  border-bottom: 1px solid #333333;
  overflow: auto;
}
.event .header {
  overflow: auto;
}
.event .show-event-info {
  float: right;
  background-color: #743DFB;
  color: #ebeef1;
}
.event:last-child {
  border-bottom: none;
}
.event.open {
  background: #E0E8F2;
}

.header h4 {
  float: left;
  margin: 0;
  padding-top: 6px;
  font-size: 20px;
}

.event .moreInfo {
  margin-top: 10px;
  font-size: 16px;
}
.event p {
  overflow-wrap: break-word;
}
.event .moreInfo span {
  font-weight: bold;
}
.event .badge {
  background-color: #FF3366;
  padding: 6px;
  margin: 0 3px;
  font-size: 14px;
}
.event .btn {
  font-size: 16px;
}

.event-attendees {
  overflow: auto;
  border: 1px solid #333333;
}

.headerDateTime {
  font-size: 18px;
}

.hiring-partners {
  min-height: 0;
  border-right: 1px solid #333333;
}

.hiring-partner {
  overflow: auto;
}
.hiring-partner p {
  float: left;
  margin-right: 100px;
  margin-top: 7px;
}
.hiring-partner .btn {
  float: right;
  margin: 0;
}

.addHiringPartnerForm {
  margin-bottom: 10px;
}
.addHiringPartnerForm input,
.addHiringPartnerForm label {
  margin: 0;
}
.addHiringPartnerForm select {
  display: block;
  padding: 4px;
}
.addHiringPartnerForm .companyAttendees {
  width: 100px;
}

input[type=date],
input[type=time] {
  padding: 0 12px;
}

main .col-xs-4 {
  margin-bottom: 15px;
}

.col-xs-4.center {
  margin-top: 36px;
}

#team-picker {
  overflow: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
}

.team {
  border: 1px solid #dddddd;
  width: 33.3%;
  min-height: 400px;
}
.team.full {
  box-shadow: 0 0 8px rgba(60, 118, 61, 0.6);
  border-color: #d6e9c6;
}

.applicant {
  border: 1px solid #dddddd;
  padding: 10px;
  cursor: move;
}
.applicant:hover {
  opacity: 0.5;
}

/* apply styles to all applicants after the 8th one */
#team2 .applicant:nth-child(n+9),
#team1 .applicant:nth-child(n+9) {
  background: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

.modal-content {
  width: inherit;
  max-width: inherit;
  height: inherit;
  margin: 0 auto;
  pointer-events: all;
}

#stageDeletionModalCancel {
  margin-left: 10px;
}

/*# sourceMappingURL=style.css.map */
